<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <div class="admin-container">
      <div class="sidebar">
        <div class="sidebar-top">
          <div class="dashboard">
            <img class="svg-icon" src="./SVGs/dashboard.svg" />
            <p class="sidebar-text">Dashboard</p>
          </div>

          <div class="home-page">
            <img class="svg-icon" src="./SVGs/home.svg" />
            <p class="sidebar-text">Home</p>
          </div>

          <div class="profile-page">
            <img class="svg-icon" src="./SVGs/account.svg" />
            <p class="sidebar-text">Profile</p>
          </div>

          <div class="messages-page">
            <img class="svg-icon" src="./SVGs/messages.svg" />
            <p class="sidebar-text">Messages</p>
          </div>

          <div class="history-page">
            <img class="svg-icon" src="./SVGs/history.svg" />
            <p class="sidebar-text">History</p>
          </div>

          <div class="tasks-page">
            <img class="svg-icon" src="./SVGs/tasks.svg" />
            <p class="sidebar-text">Tasks</p>
          </div>

          <div class="communities-page">
            <img class="svg-icon" src="./SVGs/communities.svg" />
            <p class="sidebar-text">Communities</p>
          </div>
        </div>

        <div class="sidebar-bottom">
          <div class="settings-page">
            <img class="svg-icon" src="./SVGs/settings.svg" />
            <p class="sidebar-text">Settings</p>
          </div>

          <div class="support-page">
            <img class="svg-icon" src="./SVGs/help.svg" />
            <p class="sidebar-text">Support</p>
          </div>

          <div class="privacy-page">
            <img class="svg-icon" src="./SVGs/security.svg" />
            <p class="sidebar-text">Privacy</p>
          </div>
        </div>
      </div>

      <div class="header">
        <div class="header-top">
          <img
            class="header-top-imgs"
            id="search-icon"
            src="./SVGs/seach-icon-img.svg"
          />
          <input type="text" class="search-bar" />
          <img
            class="header-top-imgs"
            id="notification-icon"
            src="./SVGs/notification-bell-img.svg"
          />
          <img
            class="profile-img-header-top"
            src="./profile-template-imgs/profile-img-header-top.jpg"
          />
          <p class="profile-name-header-top">Andrew Dutson</p>
        </div>

        <div class="header-bottom">
          <img
            class="profile-img-header-bottom"
            src="./profile-template-imgs/profile-img-header-top.jpg"
          />
          <div id="welcome-message">
            <p class="welcome-text">Hi there,</p>
            <p class="welcome-text">Andrew Dutson (@DutsAndrew)</p>
          </div>
          <button id="new-post" class="header-btn">New</button>
          <button id="upload-img" class="header-btn">Upload</button>
          <button id="share-post" class="header-btn">Share</button>
        </div>
      </div>

      <div class="main-menu">
        <div class="projects">
          <p class="projects-text"><strong>Your Projects</strong></p>

          <div id="box1" class="boxes">
            <p class="box1-header"><strong>Website Landing Page</strong></p>
            <p class="box1-text">
              TOP project to display CSS and HTML skills in designing a landing
              page
            </p>
            <div class="box-icons">
              <img class="star-it" src="./SVGs/star-it.svg" />
              <img class="watch-it" src="./SVGs/eye-it.svg" />
              <img class="share-it" src="./SVGs/share-variant.svg" />
            </div>
          </div>

          <div id="box2" class="boxes">
            <p class="box2-header"><strong>Odin Recipes</strong></p>
            <p class="box2-text">
              TOP project to display HTML attribute, img, and linking to items
            </p>
            <div class="box-icons">
              <img class="star-it" src="./SVGs/star-it.svg" />
              <img class="watch-it" src="./SVGs/eye-it.svg" />
              <img class="share-it" src="./SVGs/share-variant.svg" />
            </div>
          </div>

          <div id="box3" class="boxes">
            <p class="box3-header"><strong>Rock-Paper-Scissors Game</strong></p>
            <p class="box3-text">
              TOP project to display a basic understanding of JavaScript
            </p>
            <div class="box-icons">
              <img class="star-it" src="./SVGs/star-it.svg" />
              <img class="watch-it" src="./SVGs/eye-it.svg" />
              <img class="share-it" src="./SVGs/share-variant.svg" />
            </div>
          </div>

          <div id="box4" class="boxes">
            <p class="box4-header"><strong>Etch-a-Sketch</strong></p>
            <p class="box4-text">
              TOP project to demonstrate a intermediate level of understanding
              of JavaScript and practice manipulating elements in the DOM
            </p>
            <div class="box-icons">
              <img class="star-it" src="./SVGs/star-it.svg" />
              <img class="watch-it" src="./SVGs/eye-it.svg" />
              <img class="share-it" src="./SVGs/share-variant.svg" />
            </div>
          </div>

          <div id="box5" class="boxes">
            <p class="box5-header"><strong>Calculator</strong></p>
            <p class="box5-text">
              An intermediate level TOP project to demonstrate a well rounded
              approach to creating an application with HTML, CSS, and
              JavaScript.
            </p>
            <div class="box-icons">
              <img class="star-it" src="./SVGs/star-it.svg" />
              <img class="watch-it" src="./SVGs/eye-it.svg" />
              <img class="share-it" src="./SVGs/share-variant.svg" />
            </div>
          </div>

          <div id="box6" class="boxes">
            <p class="box6-header"><strong>Sign-up Form</strong></p>
            <p class="box6-text">
              An intermediate project to using input tags in HTML and brushing
              up on some CSS at the same time.
            </p>
            <div class="box-icons">
              <img class="star-it" src="./SVGs/star-it.svg" />
              <img class="watch-it" src="./SVGs/eye-it.svg" />
              <img class="share-it" src="./SVGs/share-variant.svg" />
            </div>
          </div>
        </div>

        <div class="socials-bar">
          <div class="announcements">
            <p class="announcements-text"><strong>Announcements</strong></p>

            <div class="announcements-box">
              <div id="site-maintenance-box" class="annoucements-boxes">
                <p
                  id="site-maintenance-header"
                  class="announcements-paragraphs-text"
                >
                  <strong>Site Maintenance</strong>
                </p>
                <p
                  id="site-maintenance-text"
                  class="announcements-paragraphs-text"
                >
                  The site will be undergoing maintenance from 13:00-17:00 EST
                </p>
              </div>

              <div id="patch-updates-box" class="annoucements-boxes">
                <p
                  id="patch-updates-header"
                  class="announcements-paragraphs-text"
                >
                  <strong>Patch Updates</strong>
                </p>
                <p
                  id="patch-updates-text"
                  class="announcements-paragraphs-text"
                >
                  Update 3.0.1 is now live, read the patch notes here.
                </p>
              </div>

              <div id="privacy-policy-box" class="annoucements-boxes">
                <p
                  id="privacy-policy-header"
                  class="announcements-paragraphs-text"
                >
                  <strong>Privacy Policy</strong>
                </p>
                <p
                  id="privacy-policy-text"
                  class="announcements-paragraphs-text"
                >
                  Updated security measures have been added.
                </p>
              </div>
            </div>

            <div class="trending">
              <p class="trending-text"><strong>Trending</strong></p>

              <div id="profile-1" class="trending-profiles">
                <img
                  class="profile-img"
                  src="./profile-template-imgs/profile-template-img-1.jpg"
                />
                <div class="profile-text">
                  <p class="profile-handle">@Megan</p>
                  <p class="profile-name">Photographer</p>
                </div>
              </div>

              <div id="profile-2" class="trending-profiles">
                <img
                  class="profile-img"
                  src="./profile-template-imgs/profile-template-img-2.jpg"
                />
                <div class="profile-text">
                  <p class="profile-handle">@Jonathan</p>
                  <p class="profile-name">Baker</p>
                </div>
              </div>

              <div id="profile-3" class="trending-profiles">
                <img
                  class="profile-img"
                  src="./profile-template-imgs/profile-template-img-3.jpg"
                />
                <div class="profile-text">
                  <p class="profile-handle">@Alicia</p>
                  <p class="profile-name">Civil Engineer</p>
                </div>
              </div>

              <div id="profile-4" class="trending-profiles">
                <img
                  class="profile-img"
                  src="./profile-template-imgs/profile-template-img-4.jpg"
                />
                <div class="profile-text">
                  <p class="profile-handle">@Bob</p>
                  <p class="profile-name">Warehouse Manager</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
