<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
      <!-- <link href="{{ url_for('static', path='login.css') }}" rel="stylesheet" > -->
    <style>
      body {
        background-image: url("https://img.freepik.com/premium-photo/transportation-logistics-container-cargo-ship-cargo-plane-3d-rendering-illustration_37416-505.jpg?w=1060");
        /* background-color: tomato; */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      @import url("https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap&apos");
      #captchaBackground {
        height: 220px;
        width: 250px;
        background-color: #2d3748;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      #captcha {
        height: 80%;
        width: 80%;
        font-size: 30px;
        letter-spacing: 3px;
        margin: auto;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #submitButton {
        margin-top: 2em;
        margin-bottom: 2em;
        background-color: #08e5ff;
        border: 0px;
        font-weight: bold;
      }
      #refreshButton {
        background-color: #08e5ff;
        border: 0px;
        font-weight: bold;
      }
      #textBox {
        height: 25px;
      }
      .incorrectCaptcha {
        color: #ff0000;
      }
      .correctCaptcha {
        color: #7fff00;
      }
    </style>
  </head>
  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
  />
  <body>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div
              class="card bg-dark text-white"
              style="border-radius: 1rem; --bs-bg-opacity: 0.6"
            >
              <div class="card-body p-5">
                <div class="mb-md-5 mt-md-4">
                  <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
                  <p class="text-white-50 text-center">
                    Please enter your login and password!
                  </p>
                  <form target="_self" method="post" action="/">
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeEmailX">Email</label>
                      <input
                        type="email"
                        id="typeEmailX"
                        name="email"
                        class="form-control form-control-lg"
                        required
                      />
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typePasswordX"
                        >Password</label
                      >
                      <input
                        type="password"
                        id="typePasswordX"
                        name="password"
                        class="form-control form-control-lg"
                        required
                      />
                    </div>
                    <p class="small mb-5 pb-lg-2">
                      <a class="text-white-50" href="#!">Forgot password?</a>
                    </p>
                    <div class="center">
                      <div id="captchaBackground">
                        <canvas id="captcha">captcha text</canvas>
                        <input id="textBox" type="text" name="text"  />
                        <div id="buttons">
                          <input id="submitButton" type="button" required />

                          <!-- <button
                            id="submitButton"
                            type="button"
                            style="width: initial"
                          > -->
                            Submit
                          </button>
                          <button id="refreshButton" type="submit">
                            Refresh
                          </button>
                        </div>
                        <span id="output" style="margin-bottom: 8"></span>
                      </div>
                    </div>

                    <div class="form-group center">
                      <button
                        onclick="onSubmit"
                        class="btn"
                        style="
                          background-color: #800000;
                          color: white;
                          font-weight: bold;
                          border-radius: 25px;
                          display: none;
                        "
                        id="submit"
                      >
                        Create
                      </button>
                    </div>
                    <div class="text-center">
                      <button
                        id="submit"
                        class="btn btn-outline-light btn-lg px-5"
                        type="submit"
                      >
                        Login
                      </button>
                    </div>
                  </form>
                </div>
                <!-- <form
                    target="_self"
                    method="get"
                    action="/signup"
                  >
                  <div class="text-center">
                      <button
                        class="btn btn-outline-light btn-lg px-5"
                        type="submit"
                      >
                        signup
                      </button>
                  </form> -->
                <script>
                  // document.querySelector() is used to select an element from the document using its ID
                  let captchaText = document.querySelector("#captcha");
                  var ctx = captchaText.getContext("2d");
                  ctx.font = "30px Roboto";
                  ctx.fillStyle = "#08e5ff";
                  let userText = document.querySelector("#textBox");
                  let submitButton = document.querySelector("#submitButton");
                  let output = document.querySelector("#output");
                  let refreshButton = document.querySelector("#refreshButton");
                  // alphaNums contains the characters with which you want to create the CAPTCHA
                  let alphaNums = [
                    "A",
                    "B",
                    "C",
                    "D",
                    "E",
                    "F",
                    "G",
                    "H",
                    "I",
                    "J",
                    "K",
                    "L",
                    "M",
                    "N",
                    "O",
                    "P",
                    "Q",
                    "R",
                    "S",
                    "T",
                    "U",
                    "V",
                    "W",
                    "X",
                    "Y",
                    "Z",
                    "a",
                    "b",
                    "c",
                    "d",
                    "e",
                    "f",
                    "g",
                    "h",
                    "i",
                    "j",
                    "k",
                    "l",
                    "m",
                    "n",
                    "o",
                    "p",
                    "q",
                    "r",
                    "s",
                    "t",
                    "u",
                    "v",
                    "w",
                    "x",
                    "y",
                    "z",
                    "0",
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6",
                    "7",
                    "8",
                    "9",
                  ];
                  let emptyArr = [];
                  // This loop generates a random string of 7 characters using alphaNums
                  // Further this string is displayed as a CAPTCHA
                  for (let i = 1; i <= 7; i++) {
                    emptyArr.push(
                      alphaNums[Math.floor(Math.random() * alphaNums.length)]
                    );
                  }
                  var c = emptyArr.join("");
                  ctx.fillText(
                    emptyArr.join(""),
                    captchaText.width / 4,
                    captchaText.height / 2
                  );
                  // This event listener is stimulated whenever the user press the "Enter" button
                  // "Correct!" or "Incorrect, please try again" message is
                  // displayed after validating the input text with CAPTCHA
                  userText.addEventListener("keyup", function (e) {
                    // Key Code Value of "Enter" Button is 13
                    if (e.keyCode === 13) {
                      if (userText.value === c) {
                        document.getElementById("submit").style.display =
                          "initial";
                        output.innerHTML = "Correct!";
                      } else {
                        document.getElementById("submit").style.display =
                          "none";
                        output.innerHTML = "Incorrect, please try again";
                      }
                    }
                  });
                  // This event listener is stimulated whenever the user clicks the "Submit" button
                  // "Correct!" or "Incorrect, please try again" message is
                  // displayed after validating the input text with CAPTCHA
                  submitButton.addEventListener("click", function () {
                    if (userText.value === c) {
                      document.getElementById("submit").style.display =
                        "initial";
                      output.innerHTML = "Correct!";
                    } else {
                      document.getElementById("submit").style.display = "none";
                      output.innerHTML = "Incorrect, please try again";
                    }
                  });
                  // This event listener is stimulated whenever the user press the "Refresh" button
                  // A new random CAPTCHA is generated and displayed after the user clicks the "Refresh" button
                  refreshButton.addEventListener("click", function () {
                    userText.value = "";
                    document.getElementById("submit").style.display = "none";
                    let refreshArr = [];
                    for (let j = 1; j <= 7; j++) {
                      refreshArr.push(
                        alphaNums[Math.floor(Math.random() * alphaNums.length)]
                      );
                    }
                    ctx.clearRect(0, 0, captchaText.width, captchaText.height);
                    c = refreshArr.join("");
                    ctx.fillText(
                      refreshArr.join(""),
                      captchaText.width / 4,
                      captchaText.height / 2
                    );
                    output.innerHTML = "";
                  });
                </script>
                <div class="text-center">
                  <p class="mb-0">
                    Don't have an account?
                    <a href="/signUp" class="text-white-50 fw-bold">Sign Up</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
